@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
.principalfooter{
  background-color: #202020;
  position: absolute;
  width: 100%;
  color: white;
  font-size: 13px;
  margin-top: 80px;
}
.principalfooter h3{
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1px;
  padding-left: 20px;
  font-size: 25px;
}
.principalfooter .integrantes{
  font-family: 'Montserrat', sans-serif;
  padding-left: 20px;
  font-size: 15px;
  margin-bottom: 5px;
}
.secundariofooter{
  background-color: black;
  position: relative;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 13px;
  padding-top: 10px;
  float: left;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}
.texto{
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  padding:  10px 20px 10px 20px;
  float: right;
}




