*{
    padding: 0;
    margin: 0;
}
.historia{
    font-size: 18px;
    background-color: rgba(31,32,36,.65);
    width: 750px;
    height: 350px;
    margin-left: 20px;
    padding-top: 10px;
    padding-left: 10px;
    text-align: justify;
    padding-right: 10px;
    box-shadow: 7px 5px 5px black;
    color: #faf8f2;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    border-radius: 10px;
    
}
.container{
    margin-top: 225px;
    height: 50vh;

}
.historia h2{
    color: red;
    text-align: center;
}



@media only screen and (max-device-width: 667px) {
    .container {
        height: 69vh;

     }
}

@media only screen and (max-device-width: 896px) {
    .container {
        height: 75vh;

     }
}

@media only screen and (max-device-width: 1368px) {
    .container {
        height: 65vh;

     }
}

@media only screen and (max-device-width: 653px) {
    .container {
        height: 76vh;

     }
}
