.box{
    float: left;
    font-family: 'Oswald', sans-serif;
    margin-top: 220px;
    width: 640px;
    height: 350px;
    background-color: rgba(31,32,36,.95);
    margin-left: 20px;
    margin-right: 60%;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: justify;
}

.box h1{
    color: #e00f0f;
}

@media only screen and (max-device-width: 800px) {
.box {
    margin-right: 20%;
 }
}